---
layout: default
---

<script src="http://afarkas.github.io/lazysizes/lazysizes.min.js"></script>

<div class="container row">
    <h1 class="cv-title"><span class="black white-text">{{ site.title }}</span></h1>
    {% assign steps = site.steps | sort: 'date' | reverse %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.date | date: '%Y/%m/%d - %A - ' }}{{step.title}}</h2>
        <div class="card-panel">
<!--            <h3 class="card-title">-->
<!--                {% if step.title %}-->
<!--                    {{ step.title }}-->
<!--                {% endif %}-->
<!--            </h3>-->
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>

    </div>
    </div>